{
  "parser": "babel-eslint",
  "extends": ["react-app", "plugin:jsx-a11y/recommended", "plugin:prettier/recommended"],
  "plugins": ["jsx-a11y", "prettier"],
  "overrides": [
    {
      "files": ["src/**/*.{js,jsx}"],
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    },
    {
      "files": ["*.spec.js"],
      "rules": {
        "no-unused-expressions": "off",
        "react/prop-types": "off"
      }
    }
  ],
  "rules": {
    "strict": 1,
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 2,
    "no-alert": 0,
    "no-param-reassign": "warn",
    "import/extensions": [
      "error",
      "never",
      {
        "svg": "always",
        "png": "always",
        "ttf": "always",
        "json": "always"
      }
    ],
    "prettier/prettier": "warn"
  },
  "globals": {
    "document": true,
    "React": true,
    "window": true
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  }
}
